rs.initiate({
  _id: '${TMW_REPLICA_SET_NAME}', // 复制集名称
  members: [
    {
      _id: 0,
      host: 'host.docker.internal:${TMW_MONGODB_PORT}', // 用host.docker.internal实现容器外部可以访问
      priority: 1,
    },
    {
      _id: 1,
      host: 'host.docker.internal:${TMW_MONGODB_S_PORT}',
      priority: 0, // 不能作为主节点
    },
    {
      _id: 2,
      host: 'host.docker.internal:${TMW_MONGODB_A_PORT}',
      arbiterOnly: true, // 作为仲裁节点
    },
  ],
})
